html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  color: white;
}

#map {
  height: 30rem;
}

.body {
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.top-box {
  background-color: rgba(0, 0, 0, 0.65);
}

.results-table {
  padding-left: 7rem;
  padding-right: 7rem;
}
