html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  color: white;
}

#map {
  height: 75%;
  width: auto;
}

.body {
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.top-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1% 1%;
}
